# 分割线
snippet >-- "分割线" b
%% ------------------------------------
%% $1
%% ------------------------------------
endsnippet

# author
snippet >author
%% -----------------------------------
%% $1
%% @author raydraw@gmail.com
%% -----------------------------------
endsnippet

# gen_erl
snippet >erl
-module(`vim_snippets#Filename()`).
-export([  
	    init/0
    ]).

%% 空行后紧接的是包含的头文件
-include("common.hrl"). 
-include("role.hrl").

%%----------------------------------------------------
%% 外部接口 
%%----------------------------------------------------
%% @doc 初始化
init() ->
    do_init().

%%----------------------------------------------------
%% 内部私有 --- （私有函数分割线）
%%----------------------------------------------------
%% 私有函数注释不要以@doc开始
do_init() ->
    {ok, SpecErl}.

%%----------------------------------------------------
%% 测试用例 -- （测试用例分割线)
%%----------------------------------------------------
-include_lib("eunit/include/eunit.hrl").
-ifdef(TEST).
%% 测试内接口
test_init() ->
    do_init().

-endif.
endsnippet

# hrl
snippet >hrl
-define(${1:`vim_snippets#Filename()`}, 1).

-record
endsnippet

# gen_srv
# snippet >srv

